body{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    margin-left: 5%;
}
.text-decoration{
    text-align: justify;
    padding-right: 5%;
}
.half-width img{
    width: 80%;
    margin-top: 25px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,grey);
    padding: 10px 40px;
    color: white;
    font-weight: 900;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding: 30px;
}
#web-dev-exp{
    border-left: 7px solid;
    border-image: linear-gradient(red,tomato) ;
    border-image-slice: 1;
}
#full-stack-exp{
    border-left: 7px solid;
    border-image: linear-gradient(blue,tomato) ;
    border-image-slice: 1;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
footer p{
    text-align: center;
}